[user]
  name = Jon Homan
  email = jon@jonhoman.com

[color]
  ui = auto

[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[core]
  editor = /usr/bin/vim
